#H1{
    font-size: 30px;
    font-weight: 800;
    color: #141610;
    font-family: sans-serif;
    background-color: rgb(236, 229, 229);
    margin-top:10%;
   
    }

    @import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

    *
    {
        margin:0;
        padding:0;
        box-sizing:border-box;
        font-family:'Poppins',sans-serif;
    }
    
    body
    {
        background: rgb(185, 165, 139) !important;
        
    }
    
    header{
        position:fixed;
        top:0;
        left:0;
        width:100%;
        display: flex;
        width:100%;
        justify-content:space-between;
        align-items:center;
        transition:0.6s;
        padding:40px 100px;
        z-index:10000;
        
    }
    
    header.sticky
    {
        padding:5px 100px;
        background: #24262b;
    }
    
    header .logo
    {
        position: relative;
        font-weight: 700;
        color:#fff;
        text-decoration: none;
        font-size: 2em;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition:0.6s;
        margin-left:-8%;
    
    }
    
    .logo img{
        
        
        height:80px;
        width:150px;
    
    }
    
    
    header ul
    {
        position: relative;
        display: flex;
        justify-content:center;
        align-items: center;
    }
    
    header ul li
    {
    position:relative;
    list-style: none;
    
    }
    header ul li a
    {
        position: relative;
        margin: 0 15px;
        text-decoration: none;
        color: rgb(243, 235, 235);
        letter-spacing:2px;
        font-weight: 500px;
        transition: 0.6s;
    
    }
    header ul li a:hover{
        background-color: rgb(138, 170, 170);
    }
    
  
    
    header.sticky .logo,
    header.sticky ul li a
    {
        color:rgb(243, 239, 239);
    
    }
    header.sticky ul ul li a
    {
        color: rgb(15, 13, 13);
    }
    
    
    header ul ul{
        position: absolute;
        
        display: none;
        
    }
    
    
    header ul li:hover>ul{
        display: block;
    }
    
    
    header ul ul li{
        width: 150px;
        height: 50px;
        float: none;
        display: list-item;
        position: relative;
        color:rgb(17, 15, 15);
        background-color: rgb(241, 236, 236);
    
    }
    
    header ul ul li a{
        color: #000;
        
    }
    
    @import url(https://fonts.googleapis.com/css?family=Open+Sans);


    .search {
      width: 100%;
      position: relative;
      display: flex;
    }
    
    .searchTerm {
      width: 100%;
      border: 3px solid #e5ebec;
      border-right: none;
      padding: 5px;
      height: 36px;
      border-radius: 5px 0 0 5px;
      outline: none;
      color: #9DBFAF;
    }
    
    .searchTerm:focus{
      color: #ced7d8;
    }
    
    .searchButton {
      width: 40px;
      height: 36px;
      border: 1px solid #d2d7d8;
      background: #d8dedf;
      text-align: center;
      color: #fff;
      border-radius: 0 5px 5px 0;
      cursor: pointer;
      font-size: 20px;
    }
    
    /*Resize the wrap to see the search bar change!*/
    .wrap{
      width: 18%;
      position: absolute;
      top: 50%;
      left: 20%;
      transform: translate(-50%, -50%);
      margin-left: 10%;
     
    }
    
    
    